body {
      font-family: 'Slabo 27px', serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {font-size: 18px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #ffffff; /* White */
      color: #18334e; /* navy Blue */
  }
  .bg-2 { 
      background-color: #ffffff;
      color: #18334e;
      /*margin-right: 100px;
      margin-left: 100px;*/
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #18334e;
  }
  .container-fluid {
      padding-top: 40px;
      padding-bottom: 90px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      color: #F08080;
      letter-spacing: 5px;
      background-color: #18334e;
  }
  .nav.navbar-nav.navbar-right li a {
    color: #ffffff;
  }
  .navbar a:hover, .navbar a:focus {
      color: #F08080 !important;
  }
.img-fluid {
  border-color: #18334e; 
  border: 5px;
}
.col-md-4 {
  padding: 20px;
}
#panel1 {
    padding: 10px;
    display: none;
    width: 304px;
    background-color: #F08080; 
    color: white;
    margin: auto;
}
#panel2 {
    padding: 10px;
    display: none;
    width: 304px;
    background-color: #F08080; 
    color: white;
    margin: auto;
}
#panel3 {
    padding: 10px;
    display: none;
    width: 304px;
    background-color: #F08080; 
    color: white;
    margin: auto;
}
